{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<!-- GOOGLE PLUS SIGN IN-->

         
  <div id="signinButton" style="padding: 5px;margin-top:100px;text-align: center;">
  <span class="g-signin2"
    data-scope="profile openid email"
    data-client_id="220466579625-2m8radbc2got7ai5qi910q823j5td8oh.apps.googleusercontent.com"
    data-redirecturi="postmessage"
    data-accesstype="offline"
    data-cookiepolicy="single_host_origin"
    data-callback="signInCallback"
    data-approvalprompt="force">
  </span>
</div>
 

<div id="result" style="margin-top: 90px;padding: 30px;"></div>

<script>
  $('#signinButton').click(function() {
    function signInCallback(authResult){
      if (authResult['code']){
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          headers: {
          'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success:function(result){
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                 setTimeout(function() {
                  window.location.href = "/company";
                 }, 4000);
          },
          processData:false,
          data:authResult['code']
        });
      } else{
        // handle error
        console.log('There was an error: ' + authResult['error']);
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
      }
    }
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>

{% endblock %}

